@media (max-width: 479px)
{
    /*---------------
	    Main styles
	---------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 24px;
        --font_size_title_mini: 20px;
    }


    .content_flex .content > *
    {
        margin-bottom: 20px;
    }

    .content .text_block,
    .content .files
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    .block
    {
        margin-bottom: 40px;
    }


    .block_head .title
    {
        line-height: 30px;
    }

    .block_head .title.mini
    {
        line-height: 24px;
    }

    .block_head .desc
    {
        font-size: 14px;
        line-height: 18px;
    }



    .text_block h2
    {
        font-size: 24px;
        line-height: 28px;
    }

    .text_block h3
    {
        font-size: 22px;
        line-height: 26px;
    }

    .text_block h4
    {
        font-size: 20px;
        line-height: 24px;
    }


    .text_block .carousel_in_text .item .name
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 12px;
    }


    .text_block blockquote,
    .text_block q
    {
        font-size: 17px;
        line-height: 21px;
    }


    .text_block .message
    {
        line-height: 18px;
    }



    .form .columns > *,
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }

    .form .line
    {
        margin-bottom: 15px;
    }

    .form .agree,
    .form .rate,
    .form .rate + .agree
    {
        margin-top: 0;
    }

    .form input[type=checkbox] + label,
    .form input[type=radio] + label
    {
        line-height: 16px;
    }



    .page_head.with_img
    {
        margin-bottom: 20px;
        padding-top: 25px;
        padding-bottom: 40px;
    }

    .page_title
    {
        line-height: 30px;
    }



    .buttonUp
    {
        right: 15px;
        bottom: 15px;
    }



    .pagination a,
    .pagination .sep
    {
        line-height: 32px;

        width: 32px;
        height: 32px;
    }

    .pagination .prev,
    .pagination .next
    {
        margin-right: 5px;
    }



    /*---------------
		Header
	---------------*/
    .mob_header
    {
        padding: 0;
    }

    .mob_header.absolute
    {
        position: relative;
    }

    .mob_header .data
    {
        padding: 10px 15px;

        border-radius: 0;
    }


    .mob_header .logo a,
    .mob_header .logo img
    {
        height: 67px;
    }


    .mob_header .search
    {
        margin-right: 6px;
    }

    .mob_header .search .link
    {
        min-width: 36px;
    }

    .mob_header .search .link .icon
    {
        width: 23px;
        height: 23px;
    }


    .mob_header .links > * + *
    {
        margin-left: 6px;
    }

    .mob_header .links a,
    .mob_header .links button
    {
        min-width: 36px;
    }

    .mob_header .links .requests_link .icon,
    .mob_header .links .favorite_link .icon
    {
        width: 26px;
        height: 26px;
    }

    .mob_header .links .account .icon
    {
        width: 24px;
        height: 26px;
    }

    .mob_header .links .cart_link .icon
    {
        width: 28px;
        height: 26px;
    }


    .mob_header .mob_menu_link
    {
        width: 46px;
        margin-left: 6px;
    }



    /*---------------
		Sidebar
	---------------*/



    /*---------------
		Main section
	---------------*/
    .main_slider .slide .cont
    {
        min-height: 400px;
        padding-top: 30px;
        padding-bottom: 75px;
    }

    .main_slider .slide .title
    {
        line-height: 30px;
    }

    .main_slider .slide .desc
    {
        font-size: 14px;
        line-height: 20px;
    }



    .products .product .thumb,
    .products .flex .product .thumb
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .products .product .thumb + .info,
    .products .flex .product .thumb + .info
    {
        width: 100%;
        min-height: 0;
        padding-bottom: 60px;
    }

    .products .product .name
    {
        font-size: 19px;
        line-height: 25px;
    }

    .products .product .links
    {
        margin-top: 20px;

        justify-content: center;
    }

    .products .product .details
    {
        display: none;
    }


    .products .product .options .columns > *
    {
        width: calc(50% - var(--form_columns_offset));
    }

    .products .product .options .columns > * + *
    {
        margin-top: 0;
    }



    .cats_wall .main .name
    {
        font-size: 13px;
        line-height: 15px;
    }

    .cats_wall .item .sub
    {
        margin-top: 10px;
        margin-bottom: -6px;
    }

    .cats_wall .item .sub > *
    {
        margin-bottom: 6px;
    }



    .articles .article .date
    {
        top: 5px;
        left: 5px;
    }

    .articles .article .name
    {
        font-size: 15px;
        line-height: 21px;
    }

    .articles .article .desc
    {
        font-size: 13px;
        line-height: 17px;
    }



    .action_form .or_call .phone
    {
        font-size: 24px;
    }



    .files .block_title
    {
        font-size: 20px;
        line-height: 22px;
    }

    .files .file .desc
    {
        line-height: 18px;
    }



    .requests .product .thumb
    {
        width: 70px;
    }

    .requests .product .name
    {
        width: calc(100% - 70px);
    }

    .requests .product .features,
    .requests .product .cat
    {
        width: 100%;
        padding-left: 0;
    }

    .requests .product .del
    {
        top: 10px;
        right: 10px;
    }



    .requests .notice
    {
        line-height: 18px;
    }



    .product_info .images .features
    {
        top: 10px;
        left: 10px;
    }


    .product_info .buy
    {
        margin-bottom: 30px;
    }

    .product_info .buy .amount
    {
        width: 100px;
        margin-right: 15px;
    }

    .product_info .buy .buy_link
    {
        width: 120px;
    }

    .product_info .buy .favorite_link
    {
        margin-left: 15px;
    }



    .prod_features .item
    {
        font-size: 14px;
        line-height: 18px;
    }

    .prod_features .item .name
    {
        width: 50%;
        padding-right: 5px;
    }

    .prod_features .item .val
    {
        width: 50%;
        padding-left: 5px;
    }



    .reviews .review .rating > * + *
    {
        margin-left: 5px;
    }



    .products_head > * + *
    {
        margin-top: 10px;
    }

    .products_head .sort,
    .products_head .limit
    {
        width: 100%;
    }



    .cart_info .product .thumb
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .cart_info .product .name
    {
        width: 100%;
        padding-left: 0;

        text-align: center;
    }

    .cart_info .product .price,
    .cart_info .product .amount
    {
        width: 50%;
        margin-top: 15px;
    }

    .cart_info .product .price.total
    {
        min-height: 0;
    }



    .cart_info .bottom .total_price
    {
        width: 100%;
        margin-top: 15px;
    }



    .checkout_info .form
    {
        padding: 0 20px 0;
    }

    .checkout_info .form .line
    {
        margin-bottom: 15px;
    }

    .checkout_info .form .columns > *
    {
        width: calc(50% - var(--form_columns_offset));
    }



    .lk_info .personal
    {
        margin-bottom: -15px;
    }

    .lk_info .personal > *
    {
        width: calc(100% - 20px);
        margin-bottom: 15px;
    }

    .lk_info .personal .val
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 0;
    }


    .lk_info .cont > .data .form .line
    {
        margin-bottom: 15px;
    }



    .lk_info .history .cart_info .product .name
    {
        width: 100%;
    }

    .lk_info .history .cart_info .product .amount
    {
        width: 50%;
    }



    /*---------------
		Footer
	---------------*/
    footer .info .flex > *,
    footer .info .flex > *.subscribe,
    footer .info .flex > *.phones
    {
        width: calc(100% - 20px);
    }


    footer .bottom .privacy_policy
    {
        margin-bottom: 5px;
    }

    footer .bottom .privacy_policy,
    footer .bottom .creator
    {
        width: calc(100% - 80px);
    }



    /*---------------
		PopUp
	---------------*/
    .modal
    {
        padding: 30px;
    }

    .modal_title
    {
        font-size: 24px;
        line-height: 30px;

        margin-bottom: 25px;
    }


    .modal .form .line
    {
        margin-bottom: 15px;
    }



    #order_modal .type_form .field.flex > *
    {
        width: calc(33.333% - 30px);
    }
}
